<table class="table table-hover">
    <tr valign="top" id="comment-{{ comment.id }}">
        <td width="46px">
            <img src="{{ url_for('user.static', filename='avatars/' + comment.author.avatar_id|string + '.svg') }}" height="46" width="46">
        </td>
        <td class="w-100">
            <div class="d-flex justify-content-between align-items-start">
                
                <div>
                    {% set user_link %}
                        <a class="user_popup" href="{{ url_for('user.user_profile', username=comment.author.username) }}">
                            {{ comment.author.username }}
                        </a>
                    {% endset %}

                    {{ _("%(username)s says:", username=user_link) }}<br>
                    <span id="comment{{ comment.id }}">{{ comment.body }}</span><br>
                    <span class="text-muted"><small>{{ moment(comment.timestamp).fromNow() }}</small></span>
                </div>

                {% if current_user == comment.author %}
                <div class="dropdown ms-2">
                    <button class="btn btn-link text-dark text-decoration-none shadow-none p-0 fs-4" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="line-height: 1;">
                        &#8942;
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end border-0 shadow p-2" style="min-width: 100px;">
                        <li>
                            <button class="btn btn-outline-danger btn-sm w-100" onclick="deleteComment('{{ url_for('main.delete_comment', comment_id=comment.id) }}', {{ comment.id }})">
                                {{ _('Delete') }}
                            </button>
                        </li>
                    </ul>
                </div>
                {% endif %}

            </div>
        </td>
    </tr>
</table>